*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border: 2px solid black;
    height: 50rem;
   
}
.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 500px;
    
    font-size: 100px;
    color: rgb(12, 12, 12);
    border-radius: 1rem;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.3),rgba(255,255,255,0.1));
    backdrop-filter: blur(2rem);
}